<div class="teddy-bear" *ngIf="socialinfo">
    <div class="teddy-text">
      <h4>{{socialinfo.title}}</h4>
      <span class="w-line"> </span>
      <img src={{socialinfo.img}} alt=""  class="img-responsive">
      </div>
      <div class="teddy-follow">
        <ul>
          <li class="folw-h"><h3>{{socialinfo.followers}}</h3>
            <p>Followers</p>
          </li>
          <li><h3>{{socialinfo.following}}</h3>
            <p>Following</p>
          </li>
        </ul>
      </div>
  </div>

