  <div class="element-bg-img">
    <img src="{{selectedHotel?.img}}" alt="" class="img-responsive"> 
  </div>
  <div class="element-left-bottom" *ngIf="hotels$ | async as hotels"> 
    <div class="ele-strip">
      <ul>
        <li *ngFor="let type of hotelTypes">
          <a (click)="selectedType=type">{{type}}</a>
        </li>

        <!--   //todo
        <li class="anc-bor">
          <a href="#">Weather</a>
        </li> -->
      </ul>
    </div>

    <div class="village" >
      <h3>Righteous indignation & like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div class="activity-row" *ngFor="let hotel of hotels | hoteltype:selectedType">
            <div class="activity-desc" (click)="hotelClicked(hotel)">
              <h5>Resort Address</h5>
              <p>{{hotel.address}}</p>
              <h6>{{hotel.phone | phonenumber}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li *ngFor="let img of hotel.activityImg"> <img src="{{img}}" alt="" />
                </li>
              </ul>
            </div>
            <div class="clear"> </div>
          </div>

        </div>
      </div>
    </div>
